@charset "utf-8" ; 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 전체 레이아웃  */
.wrap{
    width: 1200px;
    margin: 0 auto;
    background-color: red;
}
/* 헤더 */
header{
    padding: 30px;
    background-color: aqua;
    text-align: center;
}
nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center ;
    gap: 10px;
    background-color: #333;
    padding: 20px 0 ;
}
nav a{
    text-decoration: none;
}
/* 메인 영역 */
main{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    /* justify-content: space-between ;  */
    background-color: antiquewhite;
}
aside{
    position: sticky;
    padding: 20px;
    top: 64px ; /* 화면 위에서 2px 떨어진 곳에서 붙음 */
    width: 30%;
    background-color: greenyellow;
}
.content{
    width: 70%;
    background-color: turquoise;
}
.section{
    height: 500px;
}
/* 푸터 */
footer{
    padding: 20px;
    background-color: lightblue;
    text-align: center;
}
